.productSwiper{
    width: 80%;
    height: 600px;
}
.productSlider{
    width: 35%;
    height: 100%;
    padding: 3%;
}
.productImg{
    width: 100%;
    height: 200px;
}
.productHeading{
    font-size: 3vw;
    font-weight: 900;
    text-align: center;
    /* -webkit-text-stroke-color: var(--accent);
    -webkit-text-stroke-width: 3px; */
    color:var(--accent)
}
.productPara{
    font-size: 1vw;
    font-weight: 700;
    text-align: justify;
    text-align-last: left;
    font-family: var(--font-helvetica);
    color:var(--foreground)
}
#ourProducts{
    text-align: center;
    font-size: var(--font-Heading);
    font-weight: 900;
    /* -webkit-text-stroke-color: var(--accent);
    -webkit-text-stroke-width: 3px; */
    color:var(--accent)
}

@media (max-width: 480px) {
    .productSwiper{
        width: 100%;
        height: 500px;
    }
    .productSlider{
        width: 70%;
        height: 100%;
        padding: 5%;
    }
    .productImg{
        width: 100%;
        height: 200px;;
    }
    .productHeading{
        font-size: 5vw;
        font-weight: 900;
        /* -webkit-text-stroke-color: var(--accent);
        -webkit-text-stroke-width: 3px; */
        color:var(--accent)
    }
    .productPara{
        font-size: 3vw;
        font-weight: 500;
        color:var(--foreground)
    }
    #ourProducts{
        text-align: center;
        font-size: 10vw;
        font-weight: 900;
        /* -webkit-text-stroke-color: var(--accent);
        -webkit-text-stroke-width: 3px; */
        color:var(--accent)
    }
    
    

}
@media (max-width: 1024px) and (min-width: 481px) {
    .productSwiper{
        width: 80%;
        height: 600px;
    }
    .productSlider{
        width: 40%;
        height: 100%;
        padding: 5%;
    }
    .productImg{
        width: 70%;
        height: 150px;
        margin-right: auto;
        margin-left: auto;
    }
    .productHeading{
        font-size: 3vw;
        font-weight: 900;
        /* -webkit-text-stroke-color: var(--accent);
        -webkit-text-stroke-width: 3px; */
        color:var(--accent)
    }
    .productPara{
        font-size: 1.2vw;
        font-weight: 500;
        color:var(--foreground)
    }
    #ourProducts{
        text-align: center;
        font-size: 7vw;
        font-weight: 900;
        /* -webkit-text-stroke-color: var(--accent);
        -webkit-text-stroke-width: 3px; */
        color:var(--accent)
    }
    
    

}