#development{
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}
#developmentHeading{
    text-align: center;
    font-size: 3vw;
}

#developentSwiper{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}
.swiperImage{
    width: 70vw;
    height: 70vh;
    object-fit: contain;
}

.socialImg{
    width: 80%;
}