@tailwind base;
@tailwind components;
@tailwind utilities;
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";
:root {
  --background: #dadada;
  --foreground: #424242;
  --accent:#F47F20;
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-Heading: 5vw;
  --font-Normal:2.2vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dadada;
    --foreground: #424242;
    --accent:#F47F20;
  }
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  font-family:var(--font-bebas);

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
