@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: white;
  --foreground: #555454;
  --accent:#F47F20;
  --font-helvetica: 'Helvetica', sans-serif;
  --font-bebas: 'Bebas Neue', sans-serif;
  --font-Heading: 5vw;
  --font-Normal:2.2vw;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dadada;
    --foreground: #424242;
    --accent:#F47F20;
  }
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  font-family:var(--font-bebas);

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
