#about{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;
    
    
}

#aboutImgContainer{

    width: 40vw;
    height: 80%;
    display: flex;
    align-items: center;
    /* background-color: greenyellow; */
}
#aboutImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    box-shadow: 5px 5px 20px var(--foreground);
}
#aboutTextContainer{
    width: 60vw;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#aboutTextContainer>h2{
    width: 70%;
    font-size: 2.2vw;
    font-weight: 500;
    line-height: 4vw;
    /* text-align: justify; */
}
#aboutTextContainer>h1{
    width: 70%;
    font-size: 5vw;
    /* text-align: justify; */
    text-align: center;
    font-weight: 900;
    -webkit-text-stroke-color: var(--accent);
    -webkit-text-stroke-width: 3px;
    color: transparent;
   
}


@media (max-width: 480px) {

    #about{
        width: 100vw;
        height:100vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 5%;
        padding: 1%;
        
        
    }
    #aboutImgContainer{

        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        /* background-color: greenyellow; */
    }
    #aboutImg{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
        box-shadow: none;
        /* box-shadow: 5px 5px 20px var(--foreground); */
    }
    #aboutTextContainer{
        width: 60vw;
        height: 100%;
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #aboutTextContainer>h2{
        width: 100%;
        font-size: 6vw;
        font-weight: 500;
        line-height: 6vw;
        /* text-align: justify; */
    }
    #aboutTextContainer>h1{
        width: 100%;
        font-size: 15vw;
        /* text-align: justify; */
        text-align: center;
        font-weight: 900;
        -webkit-text-stroke-color: var(--accent);
        -webkit-text-stroke-width: 3px;
        color: transparent;
       
    }
    

}

