.menuContainer{
    width: 100%;
    /* background-color: yellow; */
    
    padding: 2% 2%;
    position: absolute;
    z-index: 2;
}
.menuBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menuLogoImg{
    cursor: pointer;
    width: 5vw;
}
.menuOpen{
    cursor: pointer;
    font-size:4vw;
    color:var(--accent);
}

.menuOverlay{
    background-color: rgba(250, 235, 215, 0.815);
    padding: 2%;
}
.menuOverlayBar{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.menuClose{

    cursor: pointer;
    font-size:4vw;
    color:var(--accent);
}
.menuLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    font-weight: 500;
    font-size: 1vw;
    text-transform: uppercase;
    letter-spacing: 0.7vw;
    line-height: 4vw;
    font-family: var(--font-bebas);
   
}
.menuLink{
    cursor: pointer;
    font-size:4vw;
    color:var(--accent);

}

#socials{
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: end;
    
}

#socials>h1{
    font-size: 2vw;
    font-family: var(--font-bebas);
    text-transform: uppercase;
    letter-spacing: -0.02vw;
    color:var(--accent);
    text-decoration: underline;
}

#socialIcons{
    font-size: 3vw;
}