#FeaturedWorkContainer{
    width: 100vw;
    height: 100%;
    /* background-color: crimson; */
    /* background-color: red; */
}
#FeaturedWorkHeading{
    font-size: 5vw;
    text-align: center;
    margin: 0.5%;
    font-weight: 900;
    /* -webkit-text-stroke-color: var(--accent);
    -webkit-text-stroke-width: 3px; */
    color:var(--accent);

}
#featuredWork{
    width: 90vw;
    height: 100vh;
    margin-left:auto;
    margin-right:auto;
    /* background-color: green; */
    /* background-color: crimson; */
    display: flex;
    gap: .5vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#grid2{
    width: 45%;
    height: 100%;
    /* background-color: yellow; */
    /* border: 1px solid black; */
    display: grid;
    gap: .5vw;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
}

#grid1{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    /* border: 1px solid black; */
    display: grid;
    gap: .5vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}


#imageContainer1{
    width: 100%;
    height: 100%;
    grid-row:1/3;
    /* background-color: red; */
    overflow: hidden;
    /* border: 1px solid black; */
}
#imageContainer2{
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    grid-column: 2/4;
    overflow: hidden;
    /* border: 1px solid black; */
}
#imageContainer3{
    width: 100%;
    height: 100%;
    /* background-color: green; */
    overflow: hidden;
    /* border: 1px solid black; */
}
#imageContainer4{
    width: 100%;
    height: 100%;
    /* background-color:yellowgreen; */
    grid-column: 1/3;
    overflow: hidden;
    /* border: 1px solid black; */
}
#imageContainer5{
    height: 100%;
    width: 100%;
    /* background-color: cyan; */
    grid-row: 2/4;
    grid-column: 3/4;
    overflow: hidden;
    /* border: 1px solid black; */
}
#imageContainer6{
    width: 100%;
    height: 100%;
    /* background-color: green; */
    overflow: hidden;
    /* border: 1px solid black; */
}
#imageContainer7{
    width: 100%;
    height: 100%;
    /* background-color:yellowgreen; */
    overflow: hidden;
    /* border: 1px solid black; */
}
#imageContainer8{
    height: 100%;
    width: 100%;
    /* background-color: cyan; */
    overflow: hidden;
    grid-column: 1/3;
    /* border: 1px solid black; */
}
#image{
    width: inherit;
    height: inherit;
    object-fit:cover;
    
    /* object-position: bottom; */
    
}
#image:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}


#seeMore{
    width: 10%;
    font-size: 1.5vw;
    text-align: center;
    margin-top: 2%;
    font-weight: 900;
    /* -webkit-text-stroke-color: var(--accent);
    -webkit-text-stroke-width: 3px; */
    color:var(--background);
    cursor: pointer;
    background-color: var(--accent);
    padding: .5%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px black;
}

#seeMore:hover{
    background-color: var(--background);
    color: var(--accent);
    box-shadow: 3px 3px 10px var(--foreground);
}


@media(max-width:480px){
    #FeaturedWorkContainer{
        width: 100vw;
        height: 100%;
        /* background-color: crimson; */
        /* background-color: red; */
    }
    #FeaturedWorkHeading{
        font-size: 10vw;
        text-align: center;
        margin: 0.5%;
        font-weight: 900;
        /* -webkit-text-stroke-color: var(--accent);
        -webkit-text-stroke-width: 3px; */
        color:var(--accent);
    
    }
    #featuredWork{
        width: 90vw;
        height: 100%;
        margin-left:auto;
        margin-right:auto;
        /* background-color: green; */
        /* background-color: crimson; */
        
        
    }
    
    #grid2{
        width: 95%;
        height: 100%;
        /* background-color: yellow; */
        /* border: 1px solid black; */
        display: grid;
        gap: .5vw;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr 1fr;
    }
    
    #grid1{
        width: 95%;
        height: 100%;
        /* background-color: blue; */
        /* border: 1px solid black; */
        display: grid;
        gap: .5vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        display: none;
        
    }
    
    
    #imageContainer1{
        width: 100%;
        height: 100%;
        grid-row:1/3;
        /* background-color: red; */
        overflow: hidden;
        /* border: 1px solid black; */
    }
    #imageContainer2{
        width: 100%;
        height: 100%;
        /* background-color: yellow; */
        grid-column: 2/4;
        overflow: hidden;
        /* border: 1px solid black; */
    }
    #imageContainer3{
        width: 100%;
        height: 100%;
        /* background-color: green; */
        overflow: hidden;
        /* border: 1px solid black; */
    }
    #imageContainer4{
        width: 100%;
        height: 100%;
        /* background-color:yellowgreen; */
        grid-column: 1/3;
        overflow: hidden;
        /* border: 1px solid black; */
    }
    #imageContainer5{
        height: 100%;
        width: 100%;
        /* background-color: cyan; */
        grid-row: 2/4;
        grid-column: 3/4;
        overflow: hidden;
        /* border: 1px solid black; */
    }
    #imageContainer6{
        width: 100%;
        height: 100%;
        /* background-color: green; */
        overflow: hidden;
        /* border: 1px solid black; */
    }
    #imageContainer7{
        width: 100%;
        height: 100%;
        /* background-color:yellowgreen; */
        overflow: hidden;
        /* border: 1px solid black; */
    }
    #imageContainer8{
        height: 100%;
        width: 100%;
        /* background-color: cyan; */
        overflow: hidden;
        grid-column: 1/3;
        /* border: 1px solid black; */
    }
    #image{
        width: inherit;
        height: inherit;
        object-fit:cover;
        
        /* object-position: bottom; */
        
    }
    #image:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.5s;
    }
    
    
    #seeMore{
        width: 20%;
        font-size: 5vw;
        text-align: center;
        margin-top: 2%;
        font-weight: 900;
        /* -webkit-text-stroke-color: var(--accent);
        -webkit-text-stroke-width: 3px; */
        color:var(--background);
        cursor: pointer;
        background-color: var(--accent);
        padding: .5%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 2px 2px 10px black;
    }
    
    #seeMore:hover{
        background-color: var(--background);
        color: var(--accent);
        box-shadow: 3px 3px 10px var(--foreground);
    }
}
@media(max-width:1024px) and (min-width:481px){
    #FeaturedWorkContainer{
        width: 100vw;
        height: 100%;
        /* background-color: crimson; */
        /* background-color: red; */
    }
    #FeaturedWorkHeading{
        font-size: 7vw;
        text-align: center;
        margin: 0.5%;
        font-weight: 900;
        /* -webkit-text-stroke-color: var(--accent);
        -webkit-text-stroke-width: 3px; */
        color:var(--accent);
    
    }
    #featuredWork{
        width: 90vw;
        height: 100%;
        margin-left:auto;
        margin-right:auto;
        display: flex;
        /* background-color: green; */
        /* background-color: crimson; */
        
        
    }
    
    #grid2{
        width: 95%;
        height: 100%;
        /* background-color: yellow; */
        /* border: 1px solid black; */
        display: grid;
        gap: .5vw;
        grid-template-columns: 60% 40%;
        grid-template-rows: 1fr 1fr;
    }
    
    #grid1{
        
        width: 45%;
        height: 100%;
        /* background-color: blue; */
        /* border: 1px solid black; */
        display: grid;
        gap: .5vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        display: none;
        
    }
    
    
    #imageContainer1{
        width: 100%;
        height: 100%;
        grid-row:1/3;
        /* background-color: red; */
        overflow: hidden;
        /* border: 1px solid black; */
    }
    #imageContainer2{
        width: 100%;
        height: 100%;
        /* background-color: yellow; */
        grid-column: 2/4;
        overflow: hidden;
        /* border: 1px solid black; */
    }
    #imageContainer3{
        width: 100%;
        height: 100%;
        /* background-color: green; */
        overflow: hidden;
        /* border: 1px solid black; */
    }
    #imageContainer4{
        width: 100%;
        height: 100%;
        /* background-color:yellowgreen; */
        grid-column: 1/3;
        overflow: hidden;
        /* border: 1px solid black; */
    }
    #imageContainer5{
        height: 100%;
        width: 100%;
        /* background-color: cyan; */
        grid-row: 2/4;
        grid-column: 3/4;
        overflow: hidden;
        /* border: 1px solid black; */
    }
    #imageContainer6{
        width: 100%;
        height: 100%;
        /* background-color: green; */
        overflow: hidden;
        /* border: 1px solid black; */
    }
    #imageContainer7{
        width: 100%;
        height: 100%;
        /* background-color:yellowgreen; */
        overflow: hidden;
        /* border: 1px solid black; */
    }
    #imageContainer8{
        height: 100%;
        width: 100%;
        /* background-color: cyan; */
        overflow: hidden;
        grid-column: 1/3;
        /* border: 1px solid black; */
    }
    #image{
        width: inherit;
        height: inherit;
        object-fit:cover;
        
        /* object-position: bottom; */
        
    }
    #image:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.5s;
    }
    
    
    #seeMore{
        width: 20%;
        font-size: 3vw;
        text-align: center;
        margin-top: 2%;
        font-weight: 900;
        /* -webkit-text-stroke-color: var(--accent);
        -webkit-text-stroke-width: 3px; */
        color:var(--background);
        cursor: pointer;
        background-color: var(--accent);
        padding: .5%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 2px 2px 10px black;
    }
    
    #seeMore:hover{
        background-color: var(--background);
        color: var(--accent);
        box-shadow: 3px 3px 10px var(--foreground);
    }
}